<div id="controls">
    <select id="play_select">
        <option val="pause">pause</option>
        <option val="live">live</option>
    </select>
    <div id="acc">
        <label><input type="checkbox"> fast</label>
    </div>
    <div id="display"></div>
</div>
<div  id="map_canvas"></div>
<script type="text/javascript" src="/javascripts/map.js"></script>
<script type="text/javascript" src="/javascripts/front.js"></script>
