<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcRAKfaz6Hgg35AbuLE42SIvYoTUYaCgs">
    </script>
    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
{{{ body }}}
</body>
</html>
