$maincolor: #fff;
$background-color: #999;
$font: arial, helvetica, sans-serif;

*{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

body {
    background-color: $background-color;
    padding: 20px;
}

#map_canvas {
    border: 2px solid $maincolor;
    border-radius: 15px;
    margin-top: 20px;
    height: 700px;
}

#display{
    font-family: $font;
    float: right;
    font-weight: normal;
    font-size: 20px;
    color: $maincolor;
    padding-right: 4px;
    padding-top: 4px;
}

select {
    font-weight: bold;
    font-size: 20px;
    color: $maincolor;
    padding: 0 10px;
    height: 40px;
    width: 300px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid $maincolor;
    background-color: $background-color;
}

#acc {
    position: absolute;
    top: 40px;
    color: $maincolor;
    font-family: $font;
    font-weight: normal;
    font-size: 20px;
    left: 350px;
}

